.base-template-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(157deg, #35ae8f, #ba39ea);
    background-size: 400% 400%;
    color: #f7f7f7;
    -webkit-animation: bg-gradient 21s ease infinite;
    -z-animation: bg-gradient 21s ease infinite;
    -o-animation: bg-gradient 21s ease infinite;
    animation: bg-gradient 21s ease infinite;
}

@-webkit-keyframes bg-gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@-moz-keyframes bg-gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}
@keyframes bg-gradient {
    0%{background-position:20% 0%}
    50%{background-position:81% 100%}
    100%{background-position:20% 0%}
}

.base-loginButton{
    background: #3fb579;
    width:50%;
    outline: none;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.0em;
    color: #ffffff;
}

.base-login-text{
    margin-top: 20px;
}

.base-signupButton{
    background: #c0392b;
    width:50%;
    outline: none;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.0em;
    color: #ffffff;
}


.base-signup-text{
    margin-top: 20px;
}

.base-bottom-right{
    position:absolute;
    bottom: 0%;
    right:0%;
}
.base-bottom-left{
    position:absolute;
    bottom: 0%;
    left:0%;
}
.base-container{
    width: 100%;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 90%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-item {
    position: absolute;
    text-align: center;
}
