.top-navbar {
    z-index: 99;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 0;
    background: #eee;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;

}

.topnav-back{
    position: absolute;
    font-size: 25px;
    top: 30%;
    left: 7%;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}