<template name="navigation">
    <div class="top-nav">
        <nav>
            <div class="nav-extend hidden-print">
                <span class="side-nav-prompt" aria-hidden="true">
                    <i class="fa fa-bars"></i> <span class="hidden-xs hidden-sm">{{_ "nav.left"}}</span>
                </span>
            </div>
            <div class="nav-hub">
                <div class="nav-hub-progress"></div>
                <div class="nav-title-text text-morph"><span>{{title}}</span></div>
            </div>
            <div class="nav-oper hidden-print">
                <span class="top-operation-prompt" aria-hidden="true">
                    <i class="fa fa-search"></i> <span class="hidden-sm hidden-xs">{{_ "nav.right"}}</span>
                </span>
            </div>
        </nav>
        <div>
            <form class="global-search">
                <input type="text" placeholder="Type something here to search" class="main-search" id="globalSearch" autocomplete="off">
            </form>
            <div class="search-content">
                <div class="container pt-60">
                    <div class="search-prompt">
                        <p><i class="fa fa-arrow-up" aria-hidden="true"></i> </p>
                        <p class="unselectable">{{_ "nav.search_prompt.init"}}</p>
                    </div>
                    {{#each searchContent}}
                        <div class="col-lg-6 ">
                            <div class="search-result">
                                <h2>{{headline}}</h2>
                                <p>{{content}}</p>
                                <img class="img-responsive" src="{{img}}">
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="side-nav">
        <div class="side-nav-header">
            <h4><a href="/profile">{{username}}</a></h4>
            <a href="/logout" class="logout-btn">{{_ "nav.logout"}}</a>
        </div>
        <div class="side-nav-body">
            {{#if dash}}
                <a href="/dashboard"><i class="fa fa-home"></i> Home</a>
                <a href="/dashboard/announcements"><i class="fa fa-bullhorn"></i> Posts</a>
                <a href="/dashboard/suggestions"><i class="fa fa-pencil-square-o"></i> Suggestions</a>
                <a href="/dashboard/categories"><i class="fa fa-list"></i> Manage Categories</a>
                <a href="/dashboard/organizations"><i class="fa fa-list"></i> Manage Organizations</a>
                <a href="/dashboard/users"><i class="fa fa-group"></i> Manage Users</a>
                <a href=""><i class="fa fa-newspaper-o"></i> Newsletters</a>
                <a href=""><i class="fa fa-gear"></i> Settings</a>
            {{else}}
                <a href="/">{{_ "nav.side_items.stream"}}</a>
                <!--<a href="/stories">{{_ "nav.side_items.stories"}}</a>-->
                {{#if isStudent}}
<!--                    <a href="" id="academics"><div class="expand-text">{{_ "nav.side_items.marks"}}</div><i class="fa fa-times academics-icon"></i></a>
                    <ul class="course-list">
                        {{#each courses}}
                            <li><a href="/course/{{subject_id}}" class="course-link">{{course}}<i class="{{state}}">{{mark}}</i></a></li>
                        {{/ each}}
                    </ul>
                    <a href="">{{_ "nav.side_items.suggest"}}</a>-->
                {{/ if}}
                {{#if isAdmin}}
                    <a href="/dashboard">{{_ "nav.side_items.admin"}}</a>
                {{/ if}}
            {{/if}}
        </div>
    </div>
    <div class="nav-overlay"></div>
</template>

<template name="teachAssistPass">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{_ "nav.teach.login"}} {{student_id}}</h4>
                </div>
                <div class="modal-body">
                    <form id="reLoginForm">
                        <div class="form-group">
                            <input type="password" aria-describedby="Teach Assist Password" placeholder="Password" id="reLoginPass">
                        </div>
                        <button type="submit" class="btn btn-primary btn-wide">{{_ "nav.teach.submit_login"}}</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "nav.close"}}</button>
                </div>

            </div>
        </div>
    </div>
</template>

<template name="teachAssistConnect">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{_ "nav.teach.connect"}}</h4>
                </div>
                <div class="modal-body">
                    <form id="connectLoginForm">
                        <div class="form-group">
                            <input type="text" aria-describedby="TeachAssistStudentNumber" placeholder="Student Number" id="connectNum">
                        </div>
                        <div class="form-group">
                            <input type="password" aria-describedby="TeachAssistPassword" placeholder="Password" id="connectPass">
                        </div>
                        <button type="submit" class="btn btn-primary btn-wide">{{_ "nav.teach.submit_login"}}</button>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{_ "nav.close"}}</button>
                </div>

            </div>
        </div>
    </div>
</template>