btn{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.btn-lg{
  padding: 15px 64px;
  border-radius: 2px;
}

.btn-white{
  background: #FFFFFF;
  color: #4CAF50;
  border-color: #f2f2f2;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  &:hover{
    color: #4CAF50;
    background-color: #e8e8e8;
    border-color: #e8e8e8;
  }
}