<template name="searchBar">
    <nav class="search-navbar navbar-default navbar-fixed-top">
        <button class="hamburger hamburger--spin navbar-toggle collapsed" id="menuToggle" type="button">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </button>
        <form class="search-container">
            <input type="text" class="search-bar" placeholder="Search for news...">
            <i class="fa fa-search" aria-hidden="true"></i>
        </form>
    </nav>
</template>