<template name="sidebar">
    <div id="mySidenav" class="sidenav">
        <div class="side-nav-content">
            <h1>CATEGORIES</h1>
            <ul>
                <li>
                    <a href="#" id="overview">Eco-Action</a>
                </li>
                <li>
                    <a href="#" id="news">Admin</a>
                </li>
                <li>
                    <a href="#" id="utils">Science Dept</a>
                </li>
            </ul>
        </div>
    </div>
</template>