<template name="sidebar">
    <div id="mySidenav" class="sidenav">
        <div class="side-nav-content">
            <span>Main</span>
            <ul>
                <li>
                    <a href="/overview" id="overview">Courses</a>
                </li>
                <li>
                    <a href="/news" id="news">News</a>
                </li>
                <li>
                    <a href="#" id="utils">Utilities</a>
                </li>
            </ul>
            <div class="float-bottom text-center">
                <div class="logoutButton center">
                    <p class="logoutText" id="logoutText">Logout</p>
                </div>
            </div>
        </div>
    </div>
</template>