/*! =========================================================
 *
 uhs.life - V2.0.0
*
* =========================================================
*
* Copyright 2016 uhs.life dev team
 *
 *                       _oo0oo_
 *                      o8888888o
 *                      88" . "88
 *                      (| -_- |)
 *                      0\  =  /0
 *                    ___/`---'\___
 *                  .' \|     |// '.
 *                 / \|||  :  |||// \
 *                / _||||| -:- |||||- \
 *               |   | \  -  /// |   |
 *               | \_|  ''\---/''  |_/ |
 *               \  .-\__  '-'  ___/-. /
 *             ___'. .'  /--.--\  `. .'___
 *          ."" '<  `.___\_<|>_/___.' >' "".
 *         | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *         \  \ `_.   \_ __\ /__ _/   .-` /  /
 *     =====`-.____`.___ \_____/___.-`___.-'=====
 *                       `=---='
 *
 *     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *
 *      Buddha Bless:  "No Bugs, teach assist send api"
 *
 * ========================================================= */



/**
  Only global level styling exists in this file, if the styling only exists for a page or component,
  import via ui/stylingsheet folder.
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import '{}/imports/ui/stylingsheets/login.less';
@import '{}/imports/ui/stylingsheets/buttons.less';
@import '{}/imports/ui/stylingsheets/loading.less';
@import '{}/imports/ui/stylingsheets/navigation.less';
@import '{}/imports/ui/stylingsheets/stream.less';
@import '{}/imports/ui/stylingsheets/margin-padding.less';

*{
  box-sizing: border-box;
}
body{
  font-family: "Roboto Condensed", "Source Sans Pro", "Times New Roman", serif;
  transition: all 0.5s;
}

h1,h2,h3,h4,h5{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1{
  font-size: 86px;
}

p{
  font-size: 18px;
}

.full-screen{
  padding: 0;
}

.fa-2x {
  vertical-align: middle;
}