<template name="editor">
    <div class="navbar-fixed-bottom editor-open">
        <i class="material-icons" id="openEditor">add</i>
    </div>
    <div class="container-fluid editor-main" hidden>
        <div class="navbar-fixed-top">
            <a class="editor-control editor-back"><i class="fa fa-arrow-left"></i></a>
            <a class="editor-control editor-close"><i class="fa fa-times"></i></a>
        </div>
        {{> blogEditor}}
        {{> announcementEditor}}
        {{> suggestionEditor}}
        <div class="container blog-drafts" hidden>
            <div class="center-wrapper">
                <div class="mb-45">
                    <div class="row mb-30">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-30 text-center mt-30">
                            <h2>Here are all your drafts,</h2>
                            <h4>Click on one to continue to create</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 draft-item">
                            <!-- Blog post example, with featured image -->
                            <div class="editor-options draft-inline">
                                <div class="image-preview">
                                    <img src="https://dummyimage.com/800x600" class="img-responsive">
                                </div>
                                <div class="content-preview">
                                    <h3 class="draft-title">This is an example of draft item with image</h3>
                                    <span>Originally Created: Dec 24th, 2017. Format: Announcement</span>
                                    <p class="draft-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam asperiores aut beatae ea eaque earum enim excepturi fuga in, ipsa laborum nobis obcaecati optio quam repellat sed tempora veniam!</p>
                                    <div class="dropdown">
                                        <button class="dropbtn">Quick Actions</button>
                                        <div class="dropdown-content">
                                            <a href="#">Publish</a>
                                            <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- No featured image -->
                        <div class="col-lg-12 draft-item">
                            <div class="editor-options draft-inline">
                                <div class="content-preview">
                                    <h3 class="draft-title">This is an example of draft item with no images</h3>
                                    <span>Originally Created: Dec 24th, 2017. Tags: Test, Nice Tag, Wow</span>
                                    <p class="draft-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam asperiores aut beatae ea eaque earum enim excepturi fuga in, ipsa laborum nobis obcaecati optio quam repellat sed tempora veniam!</p>
                                    <div class="dropdown">
                                        <button class="dropbtn">Quick Actions</button>
                                        <div class="dropdown-content">
                                            <a href="#">Publish</a>
                                            <a href="#"><i class="fa fa-trash-o"></i> Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container blog-intro text-center">
            <div class="center-wrapper">
                <div class="post-source mb-45">
                    <div class="row mb-30">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                            <h2>Welcome to The Composer</h2>
                            <h4>Select a place to start writing</h4>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-lg-6" >
                            <div class="editor-options" id="startNewDraft">
                                <i class="fa fa-pencil fa-5x mb-15"></i>
                                <p>Create from scratch</p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="editor-options" id="checkDrafts">
                                <i class="fa fa-file-text-o fa-5x mb-15"></i>
                                <p>Resume a Draft</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container post-type text-center" hidden>
            <div class="center-wrapper">
                <div class="mb-45">
                    <div class="row mb-30">
                        <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                            <h2>Nice,</h2>
                            <h4>What would you like to compose?</h4>
                        </div>
                    </div>
                    <div class="row text-center mb-30">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="startAnnouncement">
                            <div class="editor-options">
                                <i class="fa fa-bullhorn fa-5x mb-15"></i>
                                <p>Announcement</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="startBlog">
                            <div class="editor-options">
                                <i class="fa fa-newspaper-o fa-5x mb-15"></i>
                                <p>Blog Post</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="startSuggestion">
                            <div class="editor-options">
                                <i class="fa fa-commenting-o fa-5x mb-15"></i>
                                <p>Suggestion</p>
                            </div>
                        </div>
                    </div>
<!--                    <div class="row text-center">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="startAnnouncement">
                            <div class="editor-options">
                                <i class="fa fa-calendar-o fa-5x mb-15"></i>
                                <p>Schedule</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="startAnnouncement">
                            <div class="editor-options">
                                <i class="fa fa-toggle-right fa-5x mb-15"></i>
                                <p>Gallery</p>
                            </div>
                        </div>-->
                </div>
            </div>
        </div>
    </div>
</template>

<template name="blogEditor">
    <div class="container blog-editor" hidden>
        <h2 class="editor-title">Creating a new draft</h2>
        <p class="editor-subtitle">Blog Post</p>
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <form class="form post-info-form full-width">
                    <!--Blog Title-->
                    <input type="text" placeholder="Title*" id="blogTitle">
                    <input type="text" placeholder="Sub-title" name="sub" id="blogSubTitle">
                </form>
            </div>
        </div>
        <div class="row mb-45">
            <div class="col-lg-12 col-md-12">
                <div class="editable" id="blogContent"></div >
            </div>
        </div>

        <div class="row mb-60">
            <div class="col-md-6 col-lg-6">
                <div class="editor-card">
                    <div class="card-body">
                        <h3>Add Some Tags</h3>
                        <p>By adding some tags, other users can more easily find your post by search. To add a tag, simply write in the text box below, hit enter after every tag.</p>
                        <input data-role="tagsinput" class="tags" placeholder="Write your tags here">
                        <hr />
                        <h3>Select Categories</h3>
                        <p>By selecting the categories this post belongs to, we can improve the user feed experience. To select click on the box below and pick an option from the drop up box, you can choose multiple if needed.</p>
                        <select name="category-selector" class="category-select" multiple style="width: 75%">
                            <option value="1">Mustard</option>
                            <option value="2">Ketchup</option>
                            <option value="3">Relish</option>
                            <option value="angular">Angular</option>
                            <option value="css">CSS</option>
                            <option value="design">Graphic Design</option>
                        </select>
                        <hr />
                        <input type='checkbox' class='ios8-switch ios8-switch-lg' id='checkboxContribute'>
                        <label for='checkboxContribute'>Allow Others To Contribute</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 ">
                <div class="editor-card">
                    <div class="card-body">
                        <h3>Featured Splash Image</h3>
                        <p>Upload an image to help attract users to your blog, stock photos work well, avoid images with text. Please credit the photographer with the form below.</p>
                        <form action="/file-upload" class="dropzone" id="dropzone"></form>
                        <h5 id="unsplashPrompt">Want to avoid the hassle? <a href="" id="getFeaturedUnsplash">Click here</a> and we will find an image for you!</h5>
                        <hr />
                        <h3>Pick a release date</h3>
                        <p>Use the date selector bellow to select the day you would like this post published.</p>
                        <input type="text" class="form-control input-date">
                        <hr />
                        <h3>Set the visibility</h3>
                        <p>Choose who this blog post is written for, public means people outside the board will receive access.</p>
                        <select name="category-selector" class="visibility-select" style="width: 75%">
                            <option value="1">Everyone</option>
                            <option value="2">Students Only</option>
                            <option value="3">Teachers and Staff Only</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center mb-80">
            <div class="col-md-4 col-lg-4">
                <div class="editor-card publish">
                    <h3>Publish</h3>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="editor-card preview btn-preview">
                    <h3>Preview</h3>
                </div>
            </div>
            <div class="col-md-4 col-lg-4">
                <div class="editor-card save-draft">
                    <h3>Save as draft</h3>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="announcementEditor">
    <div class="container blog-announcements" hidden>
        <div class="announcement-type text-center">
            <div class="row mb-30">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                    <h2>Solid,</h2>
                    <h4>How would you like to present your news?</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="editor-options" id="imageOnly">
                        <i class="fa fa-picture-o fa-5x mb-15"></i>
                        <p>I made a <b>Poster</b>. (Image Only)</p>
                    </div>
                </div>
                <div class="col-lg-4" id="textOnly">
                    <div class="editor-options">
                        <i class="fa fa-font fa-5x mb-15"></i>
                        <p>I wrote some <b>Text</b>. (Text Only)</p>
                    </div>
                </div>
                <div class="col-lg-4" id="textAndImage">
                    <div class="editor-options">
                        <i class="fa fa-heart-o fa-5x mb-15"></i>
                        <p>I have both a poster and some text.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center image-only" hidden>
            <div class="row mb-30">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                    <h2>Upload an image announcement</h2>
                    <h4>Simply drop your image in the box below, and add a headline</h4>
                </div>
            </div>
            {{> announcementHeadline id="imageOnlyHeadline"}}
            {{> announcementImageInput id="announcementImage"}}
            {{> announcementOptions imgAndText=false}}
        </div>

        <div class="text-center text-only" hidden>
            <div class="row mb-30">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                    <h2>Text Only Announcements</h2>
                    <h4>Write/Paste your information in the big box below, 140 characters max.</h4>
                </div>
            </div>
            {{> announcementHeadline id="textOnlyHeadline"}}
            {{> announcementTextInput max="140"}}
            {{> announcementOptions imgAndText=false}}
        </div>

        <div class="text-center text-and-image" hidden>
            <div class="row mb-30">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                    <h2>Text and Image Announcements</h2>
                    <h4>Write/Paste your information in the big box below, 140 characters max.</h4>
                </div>
            </div>
            {{> announcementHeadline id="textImageHeadline"}}
            {{> announcementTextInput max="140"}}
            {{> announcementImageInput id="announcementImageTwo"}}
            {{> announcementOptions imgAndText=true}}

        </div>
    </div>
</template>
<template name="announcementHeadline">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form class="form post-info-form full-width">
                <input type="text" placeholder="Headline*" id="{{id}}">
            </form>
        </div>
    </div>
</template>
<template name="announcementOptions">
    <div class="row mb-45 text-left">
        <div class="col-lg-4 col-md-3">
            <h3>Add Some Tags</h3>
            <p>By adding some tags, other users can more easily find your post by search. To add a tag, simply write in the text box below, hit enter after every tag.</p>
            <input data-role="tagsinput" class="announce-tags" placeholder="Write your tags here">
            <h3>Select Categories</h3>
            <p>By selecting the categories this post belongs to, we can improve the user feed experience. To select click on the box below and pick an option from the drop up box, you can choose multiple if needed.</p>
            <select name="category-selector" class="category-select" multiple style="width: 75%">
                <option value="1">Mustard</option>
                <option value="2">Ketchup</option>
                <option value="3">Relish</option>
                <option value="angular">Angular</option>
                <option value="css">CSS</option>
                <option value="design">Graphic Design</option>
            </select>
        </div>
        <div class="col-lg-4 col-md-3">
            <h3>Set the visibility</h3>
            <p>Choose who this blog post is written for, public means people outside the board will receive access.</p>
            <select name="category-selector" class="visibility-select" style="width: 75%">
                <option value="1">Everyone</option>
                <option value="2">Students</option>
                <option value="3">Teachers and Staff</option>
            </select>
            {{#if imgAndText}}
            <h3>Set Priority</h3>
            <p class="mb-15">Selecting a priority helps us determine the best way to present your announcement to other users.</p>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="is-checked priority-toggle">
                    <i class="fa fa-file-image-o fa-3x"></i>
                    <h4 class="">Image</h4>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-center">
                <div class="priority-toggle">
                    <i class="fa fa-file-text-o fa-3x"></i>
                    <h4 class="">Text</h4>
                </div>
            </div>
                {{/ if}}
        </div>
        <div class="col-lg-4 col-md-3">
            <h3>Pick a date range</h3>
            <p>Use the date selector bellow to select the days you would like this post to be visible to the rest of the users.</p>
            <div class="input-group input-daterange">
                <input type="text" class="form-control" id="startDate">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control" id="endDate">
            </div>
        </div>
    </div>
    <div class="row mb-45">
        <div class="col-lg-6 col-md-6">
            <button class="btn btn-login btn-post">POST</button>
        </div>
        <div class="col-lg-6 col-md-6">
            <button class="btn btn-login btn-save">SAVE FOR LATER</button>
        </div>
    </div>
</template>
<template name="announcementTextInput">
    <div class="row mb-45">
        <div class="col-lg-12 col-md-12">
            <h3>Text Portion</h3>
            <textarea placeholder="Add your information here! 140 characters max." class="announcement-text" maxlength="{{max}}" id="textContent"></textarea>
            <p class="text-left">You have <span class="announcement-counter">140</span> characters left.</p>
        </div>
    </div>
</template>
<template name="announcementImageInput">
    <div class="row mb-45">
        <div class="col-lg-12 col-md-12">
            <form action="/file-upload" class="dropzone" id="{{id}}"></form>
        </div>
    </div>
</template>

<template name="suggestionEditor">
    <div class="container suggestions" hidden>
        <div class="mb-45">
            <div class="row mb-30 text-center">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-30">
                    <h2>Nice,</h2>
                    <h4>What would you like to compose?</h4>
                </div>
            </div>
        </div>
        {{> announcementHeadline id="suggestionHeadline"}}
        {{> announcementTextInput max="500"}}
        <h3>Add an image if you like!</h3>
        {{> announcementImageInput id="suggestionImage"}}
    </div>
</template>
