<template name="navigation">
    <div class="top-nav">
        <nav>
            <div class="nav-extend"><span class="side-nav-prompt"><i class="fa fa-bars"></i> MENU</span></div>
            <div class="nav-hub">
                <div class="nav-hub-progress"></div>
                <div class="nav-title-text text-morph"><span>{{title}}</span></div>
            </div>
            <div class="nav-oper">
                <span class="top-operation-prompt">
                    SEARCH
                </span>
            </div>
        </nav>
        <div>
            <form class="global-search">
                <input type="text" placeholder="Type something here to search" class="main-search" id="globalSearch" autocomplete="off">
            </form>
            <div class="search-content">
                <div class="container pt-60">
                    <div class="search-prompt">
                        <p><i class="fa fa-arrow-up" aria-hidden="true"></i> </p>
                        <p class="unselectable">Type something in the box above to search</p>
                    </div>
                    {{#each searchContent}}
                        <div class="col-lg-6 ">
                            <div class="search-result">
                                <h2>{{headline}}</h2>
                                <p>{{content}}</p>
                                <img class="img-responsive" src="{{img}}">
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>

    <div class="side-nav">
        <div class="side-nav-header">
            <h4>
                {{username}}
            </h4>
            <a href="logout" class="logout-btn">LOG OUT</a>
        </div>
        <div class="side-nav-body">
            <a href="/">Stream</a>
            <a href="/stories">Stories</a>
            {{#if isStudent}}
                <a href="" id="academics"><div class="expand-text">Academics</div><i class="fa fa-times academics-icon"></i></a>
                <ul class="course-list">
                    {{#each courses}}
                        <li><a href="/course/{{subject_id}}">{{course}}<i class="{{state}}">{{mark}}</i></a></li>
                    {{/ each}}
                </ul>
                <a href="">Suggestions to Admin</a>
            {{/ if}}
            {{#if isAdmin}}
                <a href="/dashboard">Dashboard</a>
            {{/ if}}
        </div>
    </div>
    <div class="nav-overlay"></div>
</template>